


.button {
display: inline-block;
vertical-align: middle;
margin: 0 0 1rem 0;
padding: 0.85em 1em;
-webkit-appearance: none;
border: 1px solid transparent;
border-radius: 0;
transition: background-color 0.25s ease-out, color 0.25s ease-out;
font-size: 0.9rem;
line-height: 1;
text-align: center;
cursor: pointer;
background-color: #1779ba;
color: #fefefe;
}

[data-whatinput='mouse'] .button {
outline: 0;
}

.button {
&:hover, &:focus {
    background-color: #14679e;
    color: #fefefe;
}
&.tiny {
    font-size: 0.6rem;
}
&.small {
    font-size: 0.75rem;
}
&.large {
    font-size: 1.25rem;
}
&.expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
&.primary {
    background-color: #1779ba;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #126195;
    color: #fefefe;
    }
}
&.secondary {
    background-color: #767676;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #5e5e5e;
    color: #fefefe;
    }
}
&.success {
    background-color: #3adb76;
    color: #0a0a0a;
    &:hover, &:focus {
    background-color: #22bb5b;
    color: #0a0a0a;
    }
}
&.warning {
    background-color: #ffae00;
    color: #0a0a0a;
    &:hover, &:focus {
    background-color: #cc8b00;
    color: #0a0a0a;
    }
}
&.alert {
    background-color: #cc4b37;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #a53b2a;
    color: #fefefe;
    }
}
&.hollow {
    border: 1px solid #1779ba;
    color: #1779ba;
    background-color: transparent;
    &:hover, &:focus {
    background-color: transparent;
    }
    &:hover, &:focus {
    border-color: #0c3d5d;
    color: #0c3d5d;
    }
    &.primary {
    border: 1px solid #1779ba;
    color: #1779ba;
    &:hover, &:focus {
        border-color: #0c3d5d;
        color: #0c3d5d;
    }
    }
    &.secondary {
    border: 1px solid #767676;
    color: #767676;
    &:hover, &:focus {
        border-color: #3b3b3b;
        color: #3b3b3b;
    }
    }
    &.success {
    border: 1px solid #3adb76;
    color: #3adb76;
    &:hover, &:focus {
        border-color: #157539;
        color: #157539;
    }
    }
    &.warning {
    border: 1px solid #ffae00;
    color: #ffae00;
    &:hover, &:focus {
        border-color: #805700;
        color: #805700;
    }
    }
    &.alert {
    border: 1px solid #cc4b37;
    color: #cc4b37;
    &:hover, &:focus {
        border-color: #67251a;
        color: #67251a;
    }
    }
}
&.disabled, &[disabled] {
    opacity: .25;
    cursor: not-allowed;
}
&.disabled {
    background-color: #1779ba;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #1779ba;
    color: #fefefe;
    }
}
&[disabled] {
    background-color: #1779ba;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #1779ba;
    color: #fefefe;
    }
}
&.disabled.primary, &[disabled].primary {
    opacity: .25;
    cursor: not-allowed;
}
&.disabled.primary {
    background-color: #1779ba;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #1779ba;
    color: #fefefe;
    }
}
&[disabled].primary {
    background-color: #1779ba;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #1779ba;
    color: #fefefe;
    }
}
&.disabled.secondary, &[disabled].secondary {
    opacity: .25;
    cursor: not-allowed;
}
&.disabled.secondary {
    background-color: #767676;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #767676;
    color: #fefefe;
    }
}
&[disabled].secondary {
    background-color: #767676;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #767676;
    color: #fefefe;
    }
}
&.disabled.success, &[disabled].success {
    opacity: .25;
    cursor: not-allowed;
}
&.disabled.success {
    background-color: #3adb76;
    color: #0a0a0a;
    &:hover, &:focus {
    background-color: #3adb76;
    color: #0a0a0a;
    }
}
&[disabled].success {
    background-color: #3adb76;
    color: #0a0a0a;
    &:hover, &:focus {
    background-color: #3adb76;
    color: #0a0a0a;
    }
}
&.disabled.warning, &[disabled].warning {
    opacity: .25;
    cursor: not-allowed;
}
&.disabled.warning {
    background-color: #ffae00;
    color: #0a0a0a;
    &:hover, &:focus {
    background-color: #ffae00;
    color: #0a0a0a;
    }
}
&[disabled].warning {
    background-color: #ffae00;
    color: #0a0a0a;
    &:hover, &:focus {
    background-color: #ffae00;
    color: #0a0a0a;
    }
}
&.disabled.alert, &[disabled].alert {
    opacity: .25;
    cursor: not-allowed;
}
&.disabled.alert {
    background-color: #cc4b37;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #cc4b37;
    color: #fefefe;
    }
}
&[disabled].alert {
    background-color: #cc4b37;
    color: #fefefe;
    &:hover, &:focus {
    background-color: #cc4b37;
    color: #fefefe;
    }
}
&.dropdown::after {
    display: block;
    width: 0;
    height: 0;
    border: inset .4em;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    position: relative;
    top: 0.4em;
    display: inline-block;
    float: right;
    margin-left: 1em;
}
&.arrow-only::after {
    top: -0.1em;
    float: none;
    margin-left: 0;
}
}


.cta-button-outter {
cursor: pointer;
text-align: center;
}

button {
cursor: pointer;
&.btn-cc {
width: 100%;
}
&.btn-paypal {
width: 100%;
background-color: #ffc400;
border-radius: 3px;
height: 50px;
.text {
display: block;
}
}
&.custom-button {
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
border-radius: 3px;
.text {
display: table-cell;
vertical-align: middle;
padding: 11px;
font-weight: normal;
}
&.green {
background: #1fba34;
color: white;
}
}
&.orage, &.orange {
background-color: #f67f22;
background: linear-gradient(to bottom, #f67f22 0%, #e16a01 100%);
border-bottom: 5px solid #b04900;
border-radius: 3px;
font-weight: bold;
padding: 20px 30px;
font-size: 18px;
line-height: 1.4;
color: white;
}
&.orage {
[class^="icon-"]:before, [class*=" icon-"]:before {
margin: 0;
}
}
&.orange {
[class^="icon-"]:before, [class*=" icon-"]:before {
margin: 0;
}
}
&.orage:hover, &.orange:hover {
background: linear-gradient(to bottom, #f66900 0%, #f66900 100%);
}
&.orage:active, &.orange:active {
top: 1px;
outline: none;
}
&.orage.floating-cta, &.orange.floating-cta {
padding: 5px;
}
&.orage.floating-cta .text, &.orange.floating-cta .text {
display: inline-block;
text-align: center;
}
&.orage {
&.orage-darker, &.orange-darker {
background: linear-gradient(to bottom, #f66900 0%, #f66900 100%);
}
}
&.orange {
&.orage-darker, &.orange-darker {
background: linear-gradient(to bottom, #f66900 0%, #f66900 100%);
}
}
&.orage {
&.orage-darker:hover, &.orange-darker:hover {
background: linear-gradient(to bottom, #f66900 0%, #f62800 100%);
}
}
&.orange {
&.orage-darker:hover, &.orange-darker:hover {
background: linear-gradient(to bottom, #f66900 0%, #f62800 100%);
}
}
}

@media screen and (max-width: 25.875em) {
button {
&.orage, &.orange {
font-size: 14px;
}
}
}


button.green, button.green-button {
background-color: #61af03;
background: linear-gradient(to bottom, #a5d908 0%, #67c600 100%);
border-bottom: 5px solid #529403;
border-radius: 3px;
font-weight: normal;
padding: 20px 30px;
font-size: 18px;
color: black; }
@media screen and (max-width: 25.875em) {
    button.green, button.green-button {
    font-size: 14px; } }
button.green [class^="icon-"]:before,
button.green [class*=" icon-"]:before, button.green-button [class^="icon-"]:before,
button.green-button [class*=" icon-"]:before {
    margin: 0; }
button.green:hover, button.green-button:hover {
    background: linear-gradient(to bottom, #99c70b 0%, #5aab03 100%); }
button.green:active, button.green-button:active {
    top: 1px;
    outline: none; }
button.green.floating-cta, button.green-button.floating-cta {
    padding: 5px; }
    button.green.floating-cta .text, button.green-button.floating-cta .text {
    display: inline-block;
    text-align: center; 
}


