.affiliate-page {
    font-family: "flamalight", Arial, sans-serif;
    .head {
      font-family: "flamalight", Arial, sans-serif;
    }
    .aff-bg {
      padding-bottom: 100px;
      background-image: url("../images/content/aff-bg.jpg");
      background-position: 100% center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .emphasis {
      color: #0098d4;
      font-weight: normal;
    }
    .head-row {
      color: #000;
    }
    .affiliate-form-container {
      background: #fff;
      border: 1px solid #939393;
      border-radius: 3px;
      padding: 0.9375rem;
      .button-1 {
        margin-top: .625rem;
        text-align: center;
        padding: .8125rem .625rem;
        width: 80%;
        border-width: 0;
        .text {
          display: inline-block;
          padding: 0;
          font-size: 1.125rem;
          font-family: "flamalight", Arial, sans-serif;
        }
      }
    }
  }


  
@media screen and (min-width: 75em) {
    .affiliate-page .affiliate-form-container {
      padding: 1.875rem;
      .title-container {
        width: 70%;
        margin: 0 auto;
      }
    }
  }