
.checkout {
    .main-row {
      background: white;
    }
    .index-form-contactinfo {
      margin-bottom: 10px;
      padding: 0 15px;
    }
    [type='text'] {
      margin-bottom: 5px;
    }
    .heading {
      padding-bottom: 15px;
    }
    .border-box {
      height: 100%;
      padding-top: 25px;
    }
    .payment {
      .headline-wrap {
        margin-bottom: 2.5rem;
      }
      .order-form-column {
        clear: both;
      }
    }
    .shipping-charge {
      font-size: 90%;
      padding-bottom: 10px;
    }
    &[data-shipping-type="regular"] .shipping-free {
      display: none;
    }
    .product-spec {
      padding: 10px 0;
      margin: 25px 0;
      border: 1px solid #e1e1e1;
      background: #fff;
      .text-outter {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 10px;
      }
      .in-line {
        display: inline-block;
        margin-bottom: 10px;
        white-space: nowrap;
        i {
          font-size: 20px;
        }
      }
      .small {
        padding-top: 5px;
      }
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .checkout .left-form {
      padding-right: 35px;
    }
  }
  
  @media screen and (min-width: 75em) {
    .checkout .payment .secondary-payment-content {
      padding-left: 2.75rem;
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .checkout .product-spec .text-outter {
      h3 {
        font-size: 19px;
      }
      h6 {
        font-size: 14px;
      }
      small {
        font-size: 11px;
      }
    }
  }
  
  @media screen and (min-width: 75em) and (max-width: 89.9375em) {
    .checkout .product-spec .product-img-spec-outter {
      float: right;
    }
  }
  
  @media screen and (max-width: 25.875em) {
    .checkout .product-spec .product-img-spec {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .checkout .product-spec .product-img-spec {
      width: 90%;
    }
  }
  
  .dimmed {
    color: #6d6e71;
  }
  
  .checkout {
    .paypal-msg {
      font-size: 12px;
      padding: 5px 15px 15px 15px;
      text-align: left;
    }
    .shipping-address-label {
      font-size: 14px;
    }
    .shipping-line2 {
      margin-bottom: 0;
    }
    .payment-types-inner {
      margin-left: -15px;
      margin-right: -15px;
      label {
        padding: 0 15px;
        cursor: pointer;
      }
      [type='radio'] {
        margin: 0;
      }
      .pp-border {
        border-right: 1px solid #e6e6e6;
      }
      table {
        margin-bottom: 0;
        td {
          padding-bottom: 0px;
          padding-top: 0px;
        }
      }
    }
    .text-cctype-paypal {
      text-align: center;
    }
    .cc-form {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -6px;
      background: #e8e8e8;
      border-top: 1px solid #b3b3b3;
      border-bottom: 1px solid #b3b3b3;
      border-radius: 3px;
      display: none;
      > .row, .index-form-shipping > .row {
        margin-left: 0;
        margin-right: 0;
      }
      &.active {
        display: block;
      }
      .shipping-line {
        border-bottom: 1px solid #b3b3b3;
        margin: 5px 0;
      }
    }
    .smaller {
      font-size: 95%;
      color: #7d7d7d;
    }
    .payment-block {
      display: none;
      width: 100%;
      &.active {
        display: inline-block;
      }
    }
    .inct {
      position: relative;
      i {
        color: #b9b4b4;
        position: absolute;
        top: 10px;
        right: 5px;
      }
      .cvv-help {
        cursor: pointer;
      }
    }
    .wrapper {
      background-color: #F1F4F8;
      .smaller-text {
        font-size: 80%;
        &.no-top-margin {
          display: block;
          margin-top: -0.1875rem;
        }
      }
    }
    .heading {
      h5 {
        font-weight: normal;
        line-height: 1.3;
      }
      h4 {
        font-size: 17px;
      }
      .regular {
        display: none;
      }
      .price {
        color: #f04124;
      }
      .price-line {
        text-decoration: line-through;
      }
      .emphasis-purple {
        color: #4c0186;
      }
    }
    &.discount-disabled .heading {
      .discounted {
        display: none;
      }
      .regular {
        display: inline-block;
      }
    }
    .product-spec .product-image {
      height: 100%;
      position: relative;
      img {
        &.product, &.badge-brighter {
          position: relative;
          display: inline-block;
          vertical-align: middle;
        }
      }
      &:after {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      img {
        &.product {
          max-width: 65%;
          margin: 3%;
        }
        &.badge-brighter {
          max-width: 24%;
          margin-left: 3%;
        }
      }
    }
    .product-selection {
      margin-bottom: 3.125rem;
    }
    .package-name-container {
      color: #000;
      .emphasis {
        color: #000 !important;
      }
    }
    .border-box {
      border: 1px solid #e1e1e1;
      background-color: #fff;
    }
    .form-wrap {
      padding: 0 3px;
    }
    .order-form .right-form .title-row .title {
      h1 {
        margin-top: 1.25rem;
        font-weight: normal;
        font-size: 1.25rem;
        color: #0098d4;
        margin-top: .625rem;
        font-size: 1.125rem;
      }
      p {
        font-size: 12px;
      }
    }
    .quantity {
      font-weight: bold;
    }
    .product-spec {
      padding-left: 0;
      padding-right: 0;
    }
    .product-quantity-radio .package-row .package-wrap {
      width: 109.5%;
      left: -4.5%;
      border-radius: 0;
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .checkout .text-cctype-paypal {
      text-align: left;
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 25.875em) {
    .checkout .wrapper .smaller-text {
      font-size: 90%;
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .checkout .heading h4 {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 25.875em) {
    .checkout .border-box {
      border-top: 0;
    }
  }