
.contact-us .wrapper {
    background-color: #F1F4F8;
    .content-row {
      border: 1px solid #DCE9FB;
      background-color: white;
      margin-top: 3.125rem;
      margin-bottom: 3.125rem;
      padding: 4.375rem 1.875rem;
      canvas {
        position: relative;
        bottom: -0.1875rem;
      }
      > .row:first-child {
        margin-bottom: 1.875rem;
      }
    }
  }
  
  