/* ------------------------------------ landing t1 --------------------------------------*/

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-regular.eot");
  src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular.woff") format("woff"), url("../fonts/lato-regular.ttf") format("truetype"), url("../fonts/lato-regular.svg#lato-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'lato';
  src: url("../fonts/lato-semibold.eot");
  src: url("../fonts/lato-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-semibold.woff") format("woff"), url("../fonts/lato-semibold.ttf") format("truetype"), url("../fonts/lato-semibold.svg#lato-semibold") format("svg");
  font-weight: bold;
  font-style: normal;
}


@media screen and (min-width: 75em) {
  .landing-t1 .top-banner {
    .columns {
      position: relative;
    }
    p.about-container {
      display: none;
    }
    img {
      float: left;
      margin-left: 100px;
    }
    a {
      color: #000000;
    }
    .cta-button-outter {
      position: absolute;
      right: 37px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 600px;
      float: right;
      .cta-custom {
        margin: 0;
        margin-left: 30px;
        padding: 12px 40px;
      }
    }
  }
}

.landing-t1 {
  .policy-row {
    background-color: #363636;
    padding-top: 40px;
    padding-bottom: 70px;
    .social-icons, .dmca-badge {
      display: none;
    }
    p.policy-links {
      line-height: 1.6;
      color: #585858;
      a {
        color: #585858;
      }
    }
  }
  .bigger-text {
    font-size: 110%;
  }
  .smaller-text {
    font-size: 90%;
  }
  .gray-bg {
    background-color: #f1f1f1;
  }
  button.green {
    background-image: none;
    background-color: #79cf04;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 .policy-row p.policy-links a {
    font-size: 15px;
  }
}

.checkout button.green {
  background-image: none;
  background-color: #79cf04;
}

@media screen and (min-width: 43.75em) {
  .landing-t1 button.green {
    font-size: 122%;
  }
}

.landing-t1 button.green:hover, .checkout button.green {
  color: #000000;
  background-image: none;
  background-color: #90d236;
}

.landing-t1 {
  .cta-custom {
    font-family: 'lato', Sans-Serif;
    font-weight: bold;
    font-size: 115%;
    line-height: 1.25;
  }
  .column-block {
    padding-left: 15vw;
    padding-right: 15vw;
    margin-bottom: 0;
    .img-outter {
      margin-bottom: 25px;
    }
  }
  .top-banner {
    border-bottom: 3px solid #f3f3f3;
  }
  article.main-row {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .main-heading {
    font-family: 'lato', Sans-Serif;
    &.bottom-marging {
      margin-bottom: 20px;
    }
  }
  .responsive-embed.wistia {
    border: 5px solid #d7d7d7;
    padding-bottom: 54.75%;
    margin-bottom: 20px;
  }
  .main-row-heading {
    font-family: 'lato', Sans-Serif;
  }
  .t1-row-0 {
    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;
      li {
        margin-bottom: 26px;
        display: inline-block;
        width: 100%;
      }
      .icon-wrap {
        display: inline-block;
        vertical-align: middle;
      }
      .cont-wrap {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        width: calc(100% - 60px);
      }
    }
    .cta-button-outter .cta-custom {
      margin-bottom: 30px;
    }
    &.special-bg {
      background: radial-gradient(#F6F6F6 15%, transparent 16%) #ffffff;
      background-position: 0 0;
      background-size: 8px 8px;
    }
    .sub-title {
      font-weight: normal;
      margin-bottom: 30px;
    }
  }
  .t1-pre-row-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    .image-wrapper {
      margin-right: 20px;
      display: inline-block;
      vertical-align: middle;
    }
    .text-wrapper {
      display: inline-block;
      line-height: 1.3;
      text-align: left;
      max-width: calc(100% - 80px);
      vertical-align: middle;
    }
  }
  .t1-row-1 {
    background: url("../images/content/index-t1/row1-bg-desktop.jpg") center top no-repeat;
    background-size: auto;
  }
  .t1-row-2, .t1-row-3, .t1-row-4 {
    color: #ffffff;
  }
  .t1-row-2 .special-margin, .t1-row-3 .special-margin, .t1-row-4 .special-margin {
    margin-top: 130px;
    margin-bottom: 180px;
  }
  .t1-row-2 p, .t1-row-3 p, .t1-row-4 p {
    line-height: 1.5;
  }
  .t1-row-2 {
    background: url("../images/content/index-t1/row2-bg-mobile.jpg") center bottom no-repeat;
    background-size: auto;
    .main-row-heading {
      font-weight: normal;
    }
  }
  .t1-row-3 {
    background: url("../images/content/index-t1/row3-bg-mobile.jpg") center bottom no-repeat;
    background-size: cover;
    background-color: #000000;
    .main-row-heading {
      font-weight: normal;
    }
  }
  .t1-row-4 {
    background: url("../images/content/index-t1/row4-bg-mobile.jpg") center bottom no-repeat;
    background-size: auto;
    background-color: #000000;
    .main-row-heading {
      font-weight: normal;
    }
  }
  .t1-row-5 {
    background-color: #0191e4;
    color: #ffffff;
    background-image: radial-gradient(circle at 50% 35%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0) 100%), linear-gradient(to top, #0192e5 0%, #005c90 100%);
    padding-bottom: 0;
    .card-icon {
      background-color: #ffffff;
      color: #000000;
      padding: 0 25px 25px 25px;
      margin: 5px;
      margin-bottom: 60px;
      img {
        margin: -45px auto 20px auto;
      }
    }
  }
  .t1-row-6 {
    .select-block {
      padding: 15px 10px;
      border: 1px solid transparent;
      &:hover {
        cursor: default;
      }
      .bigger-text {
        display: inline-block;
        margin-bottom: 5px;
      }
      &.active-block {
        border: 1px solid #04679d;
      }
    }
    .icon-wrap, .cont-wrap {
      display: inline-block;
      vertical-align: top;
    }
    .icon-wrap {
      width: 42px;
    }
    .cont-wrap {
      width: calc(100% - 55px);
    }
    .sub-title {
      font-weight: normal;
      margin-bottom: 20px;
    }
    hr {
      margin-bottom: 40px;
    }
    img.prod {
      margin-bottom: 20px;
      margin-top: 10px;
    }
    .specs {
      .comp-text, .comp-icons {
        display: inline-block;
        vertical-align: middle;
      }
      .comp-text {
        margin-right: 14px;
      }
      p {
        margin-top: 20px;
      }
    }
  }
  .t1-row-7 .main-heading {
    margin-bottom: 30px;
  }
  .t1-row-8 {
    h3, h4, h2 {
      font-family: 'lato', Sans-Serif;
    }
    .top-heading {
      margin: 20px 10px;
      display: inline-block;
    }
    p {
      margin-top: 12px;
      font-size: 90%;
    }
    .cta-custom {
      font-size: 135%;
    }
    .testi-box {
      position: relative;
      background-color: #e3e3e3;
      box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1);
      text-align: center;
      .muted {
        font-weight: normal;
        text-decoration: line-through;
        color: #888888;
      }
      &.selected {
        background-color: #04679d;
        color: #ffffff;
        .muted {
          color: #62c7fd;
        }
      }
      .img-outter {
        background-color: #ffffff;
      }
    }
    .main-heading {
      margin-bottom: 30px;
    }
    .column-block {
      max-width: 400px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .emphasis-line {
      display: block;
      background-color: #ff2a00;
      padding: 10px;
      text-align: center;
    }
    .cta-button-outter {
      padding: 20px;
      .cta-custom {
        font-size: 170%;
        width: 100%;
      }
    }
    .img-wrapper, .txt-wrapper {
      display: inline-block;
      vertical-align: middle;
    }
    .img-wrapper {
      margin-right: 20px;
    }
    .txt-wrapper {
      width: calc(100% - 170px);
    }
    .special-border {
      padding: 20px;
    }
    .special-wrap {
      padding: 20px;
      p {
        font-size: 16px;
        color: #9d9d9d;
        margin-bottom: 15px;
      }
    }
    .special-border {
      border: 1px dotted #a4a4a4;
      background-color: #ffffff;
    }
    .bottom-header {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .t1-row-9 .main-heading {
    margin-bottom: 30px;
  }
  .accordion {
    .accordion-title {
      font-size: 110%;
      color: #ffffff;
      background-color: #04679d;
      padding: 30px 25px 30px 50px;
      line-height: 1.3;
      &::before {
        font-size: 110%;
        right: auto;
        left: 1rem;
        transform: translateY(-5px);
      }
    }
    .accordion-content {
      padding-left: 30px;
      background-color: #efefef;
    }
  }
  .t1-row-9 + .main-row {
    background-color: #363636;
  }
  .creditbutton {
    background-color: #8dc63f;
  }
  .checkoutbutton {
    height: auto;
    width: 90%;
    border-radius: 6px;
    padding: 7px 5px;
    color: black;
    /*box-shadow: 0 5px 2px -2px grey;*/
    /*margin-left: 18.5px;*/
    /*margin-right: 18.5px;*/
    line-height: normal;
    font-size: 14px !important;
    margin-top: 12px;
    font-weight: normal;
    span {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      font-weight: normal;
    }
    img {
      max-width: 50%;
      display: inline-block;
      vertical-align: middle;
      font-weight: normal;
    }
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .column-block .img-outter {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 .column-block {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .column-block {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 article.main-row {
    padding-top: 60px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 75em) {
  .landing-t1 .main-heading {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .main-heading {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 .main-heading.bottom-marging {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 75em) {
  .landing-t1 .t1-row-0 .cta-button-outter {
    text-align: left;
    margin-top: 20px;
  }
}

@media screen and (max-width: 89.9375em) {
  .landing-t1 .t1-row-0 .cta-button-outter .cta-custom {
    width: 100%;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .t1-row-0 .bigger-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 75em) {
  .landing-t1 {
    .t1-row-2 .special-margin, .t1-row-3 .special-margin, .t1-row-4 .special-margin {
      margin-top: 170px;
      margin-bottom: 210px;
    }
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 {
    .t1-row-2 .special-margin, .t1-row-3 .special-margin, .t1-row-4 .special-margin {
      margin-top: 40px;
      margin-bottom: 320px;
    }
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 {
    .t1-row-2 p, .t1-row-3 p, .t1-row-4 p {
      font-size: 115%;
    }
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 .t1-row-2 {
    background: url("../images/content/index-t1/row2-bg-desktop.jpg") center bottom no-repeat;
  }
}

@media print, screen and (min-width: 43.75em) {
  .landing-t1 .t1-row-2 {
    background-size: 140% auto;
  }
}

@media print, screen and (min-width: 75em) {
  .landing-t1 .t1-row-2 {
    background-size: 100% auto;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 .t1-row-3 {
    background: url("../images/content/index-t1/row3-bg-desktop.jpg") center bottom no-repeat;
  }
}

@media print, screen and (min-width: 43.75em) {
  .landing-t1 .t1-row-3 {
    background-size: auto 100%;
    background-position: center bottom;
  }
}

@media print, screen and (min-width: 75em) {
  .landing-t1 .t1-row-3 {
    background-size: auto 100%;
    background-color: #000000;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 .t1-row-4 {
    background: url("../images/content/index-t1/row4-bg-desktop.jpg") left bottom no-repeat #000000;
  }
}

@media print, screen and (min-width: 43.75em) {
  .landing-t1 .t1-row-4 {
    background-size: auto 120%;
    background-position: calc(0px - 240px + 20vw) 40%;
  }
}

@media print, screen and (min-width: 75em) {
  .landing-t1 .t1-row-4 {
    background-position: 0% 40%;
    background-size: auto 150%;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .t1-row-5 {
    background-image: radial-gradient(circle at 50% 65vw, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0) 100%), linear-gradient(to top, #0192e5 0%, #005c90 100%);
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 .t1-row-5 .product-image {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .t1-row-5 .product-image {
    margin-top: 20px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .t1-row-6 .phone {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .t1-row-6 hr {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .t1-row-6 img.prod {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 75em) {
  .landing-t1 .t1-row-7 .column-block {
    padding-left: 19px;
    padding-right: 19px;
    p, h3, h2, h4 {
      margin-right: 13px;
      margin-left: 15px;
    }
  }
}

@media screen and (min-width: 43.75em) and (max-width: 62.4375em) {
  .landing-t1 .t1-row-8 h3 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 .t1-row-8 .main-heading {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 75em) {
  .landing-t1 .t1-row-8 .column-block {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .t1-row-8 .column-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t1 .t1-row-8 .emphasis-line {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t1 .accordion .accordion-title {
    padding: 20px 15px 20px 38px;
  }
}