/* ------------------------------------ landing t2m --------------------------------------*/

.landing-t2m {
  .wrapper {
    background-color: #f5f5f5;
  }
  .row {
    max-width: 40rem;
  }
  button {
    &.green, &.custom-button.green {
      background-image: none;
      background-color: #79cf04;
      color: #000000;
    }
    &.green:hover, &.custom-button.green:hover {
      color: #000000;
      background-image: none;
      background-color: #90d236;
    }
  }
  .top-banner {
    /*position: fixed;*/
    /*width: 100%;*/
    z-index: 9999;
    border-bottom: 3px solid #f3f3f3;
    .columns {
      position: relative;
    }
    p.about-container {
      display: none;
    }
    img {
      float: left;
      margin-left: 20px;
    }
    a {
      color: #000000;
    }
    .cta-button-outter {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      float: right;
      .cta-custom {
        margin: 0;
        margin-left: 30px;
        padding: 12px 20px;
      }
    }
  }
  .policy-row {
    padding-top: 30px;
    padding-bottom: 60px;
    .social-icons, .dmca-badge {
      display: none;
    }
    p.policy-links {
      line-height: 1.6;
      color: #585858;
      a {
        color: #585858;
      }
    }
  }
  .bigger-text {
    font-size: 110%;
  }
  .smaller-text {
    font-size: 90%;
  }
  .gray-bg {
    background-color: #f1f1f1;
  }
  .bordered {
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
  }
  button.green {
    background-image: none;
    background-color: #79cf04;
    &:hover {
      color: #000000;
      background-image: none;
      background-color: #90d236;
    }
  }
  .cta-custom {
    font-family: 'lato', Sans-Serif;
    font-weight: bold;
    font-size: 115%;
    line-height: 1.25;
  }
  .order-raido-container {
    .product-selection-row, .percent-table {
      margin-bottom: 0;
    }
    .title {
      .emphasis {
        margin-top: 0;
        margin-bottom: 0;
        color: red;
      }
      p {
        margin-bottom: 0.5rem;
      }
      .left {
        width: 70px;
        img {
          display: none;
        }
        .badge-text {
          font-weight: normal;
          text-shadow: none;
          background-image: linear-gradient(to top, #be161d 0%, #be161d 100%);
          padding: 10px;
          left: 0;
          top: -10px;
          font-size: 24px;
        }
      }
    }
  }
  .product-quantity-radio {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    .package-row {
      padding: 0 10px;
      .quantity {
        display: inline-block;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 2em;
        text-align: center;
        background-color: #e1e1e1;
        font-size: 1rem;
        vertical-align: middle;
        font-weight: bold;
      }
      .product-name {
        font-size: 0.9rem;
        margin-left: 0.5rem;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.25;
      }
      .unit-price-container {
        font-size: 0.9rem;
      }
      .package-price {
        font-size: 0.9rem;
        bottom: auto;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
      &.bestseller {
        .product-name {
          font-weight: bold;
        }
        .bestseller-text {
          display: inline;
          font-size: 0.9rem;
          font-weight: bold;
        }
        .package-price {
          font-weight: bold;
        }
        .quantity {
          background-color: #efe306;
        }
      }
    }
  }
  article.main-row {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-heading {
    font-family: 'lato', Sans-Serif;
    &.bottom-marging {
      margin-bottom: 20px;
    }
  }
  .responsive-embed.wistia {
    border: 5px solid #d7d7d7;
    padding-bottom: 54.75%;
    margin-bottom: 20px;
  }
  .main-row-heading {
    font-family: 'lato', Sans-Serif;
  }
  .t2-row-0 {
    /*padding-top: 115px !important;*/
    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
      li {
        padding-bottom: 14px;
        margin-top: 13px;
        display: inline-block;
        width: 100%;
        line-height: 1.3;
        &:not(:last-child) {
          border-bottom: 1px solid #e9e9e9;
        }
      }
      .icon-wrap, .cont-wrap {
        display: inline-block;
        vertical-align: top;
      }
      .icon-wrap {
        margin-top: 2px;
      }
      .cont-wrap {
        margin-left: 7px;
        width: calc(100% - 60px);
      }
    }
    .spec-link {
      display: block;
      padding: 6px;
      text-align: center;
      background-color: #d3d3d3;
      border-radius: 5px;
      margin-top: 25px;
      color: #333333;
    }
    .cta-button-outter .cta-custom {
      margin-bottom: 30px;
    }
    .sub-title {
      font-weight: normal;
      margin-bottom: 30px;
    }
  }
  .t2-row-1 {
    .shipping-message {
      margin-top: 18px;
    }
    h4.not-bold {
      font-size: 16px;
    }
  }
  .t2-row-2 {
    > .row {
      padding-left: 0.6rem;
      padding-right: 0.6rem;
    }
    .custom-button {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .bordered {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      padding-bottom: 1.5rem;
    }
    .main-row {
      padding-bottom: 0;
    }
  }
  .t1-row-2, .t1-row-3, .t1-row-4 {
    color: #ffffff;
  }
  .t1-row-2 .special-margin, .t1-row-3 .special-margin, .t1-row-4 .special-margin {
    margin-top: 130px;
    margin-bottom: 180px;
  }
  .t1-row-2 p, .t1-row-3 p, .t1-row-4 p {
    line-height: 1.5;
  }
  .t2-row-3 {
    &.main-row {
      padding-top: 0;
    }
    .img-wrapper, .txt-wrapper {
      display: inline-block;
      vertical-align: middle;
    }
    .img-wrapper {
      margin-right: 20px;
    }
    .txt-wrapper {
      width: calc(100% - 170px);
    }
    .special-border {
      padding: 20px;
    }
    .special-wrap {
      padding: 20px;
      padding-bottom: 30px;
      p {
        font-size: 16px;
        color: #9d9d9d;
        margin-bottom: 15px;
      }
    }
    .special-border {
      border: 1px dotted #a4a4a4;
      background-color: #ffffff;
    }
  }
  .order-raido-container .button.cta-custom {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t2m button {
    &.green, &.custom-button.green {
      font-size: 122%;
    }
  }
}

@media screen and (max-width: 35em) {
  .landing-t2m .top-banner img {
    margin-left: 0;
    width: calc(80% - 90px);
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t2m .top-banner .cta-button-outter {
    right: 15px;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t2m .policy-row p.policy-links a {
    font-size: 15px;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t2m button.green {
    font-size: 122%;
  }
}

@media screen and (min-width: 75em) {
  .landing-t2m .order-raido-container .title {
    padding: 0 0.9rem;
  }
}

@media screen and (min-width: 75em) {
  .landing-t2m .main-heading {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t2m .main-heading {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t2m .main-heading.bottom-marging {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 35em) {
  .landing-t2m .t2-row-0 {
    /*padding-top: 23vw !important; */
  }
}

@media screen and (min-width: 75em) {
  .landing-t2m .t2-row-0 .cta-button-outter {
    text-align: left;
    margin-top: 20px;
    right: 15px;
  }
}

@media screen and (max-width: 89.9375em) {
  .landing-t2m .t2-row-0 .cta-button-outter .cta-custom {
    width: 100%;
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t2m .t2-row-0 .bigger-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 75em) {
  .landing-t2m {
    .t1-row-2 .special-margin, .t1-row-3 .special-margin, .t1-row-4 .special-margin {
      margin-top: 170px;
      margin-bottom: 210px;
    }
  }
}

@media screen and (max-width: 43.6875em) {
  .landing-t2m {
    .t1-row-2 .special-margin, .t1-row-3 .special-margin, .t1-row-4 .special-margin {
      margin-top: 40px;
      margin-bottom: 320px;
    }
  }
}

@media screen and (min-width: 43.75em) {
  .landing-t2m {
    .t1-row-2 p, .t1-row-3 p, .t1-row-4 p {
      font-size: 115%;
    }
  }
}

@media screen and (max-width: 25em) {
  .landing-t2m .t2-row-3 .img-wrapper {
    width: 30%;
    margin-right: 10px;
  }
}

@media screen and (max-width: 25em) {
  .landing-t2m .t2-row-3 .txt-wrapper {
    width: 60%;
    font-size: 13px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 25em) {
  .landing-t2m .t2-row-3 .special-border {
    padding: 10px;
  }
}


.landing-t2m .top-banner .cta-button-outter .cta-custom2 {
  margin: 0;
  margin-left: 30px;
  padding: 12px 40px;
}