
.policy {
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 1.875rem;
    color: #222;
    p {
      font-size: 0.75rem;
    }
    h2 {
      font-size: 1.25rem;
    }
    h3 {
      font-size: .75rem;
      font-weight: normal;
    }
    ul {
      font-size: .75rem;
      font-weight: normal;
      margin-left: 1.875rem;
    }
    header {
      padding-bottom: .625rem;
      font-size: 1rem;
    }
    canvas {
      vertical-align: -3px;
      margin-right: -4px;
    }
    .price-grid {
      margin: 0;
      td {
        border: 1px solid black;
        font-size: .75rem;
        padding: 0.3em;
      }
      thead td {
        width: 33%;
      }
    }
  }