
.policy-links {
    color: #948f8f;
    font-size: 12px !important;
    text-align: center;
    padding: 1.25rem 0 0;
    a {
      color: #948f8f;
    }
  }
  
  .social-icons {
    text-align: center;
    margin-top: 20px;
    .social-icon {
      margin: 10px 5px;
    }
  }
  