
.loading-screen {
    display: none;
  }
  
  .loading .loading-screen {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    .loading-wrap {
      display: table-cell;
      perspective: 320px;
      perspective-origin: 50% 100px;
      margin-top: 50px;
      text-align: center;
      vertical-align: middle;
      .loader {
        width: 64px;
        height: 64px;
        position: relative;
        margin: 0 auto;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -moz-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        i {
          position: absolute;
          width: 32px;
          height: 32px;
          top: 0;
          left: 0;
          background: #0098d4;
          -webkit-animation: loader1 1000ms infinite ease-in-out;
          animation: loader1 1000ms infinite ease-in-out;
          border: 1px solid #e6e5e5;
          + i {
            left: 32px;
            -webkit-animation: loader2 1000ms infinite ease-in-out;
            animation: loader2 1000ms infinite ease-in-out;
            + i {
              top: 32px;
              -webkit-animation: loader3 1000ms infinite ease-in-out;
              animation: loader3 1000ms infinite ease-in-out;
              + i {
                top: 32px;
                left: 0;
                -webkit-animation: loader4 1000ms infinite ease-in-out;
                animation: loader4 1000ms infinite ease-in-out;
              }
            }
          }
        }
      }
    }
  }
  
  @-webkit-keyframes loader1 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -o-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -o-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -ms-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      transform: translate3d(0, 0, 0) rotateZ(-180deg);
    }
  }
  
  
  @-moz-keyframes loader1 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -o-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -o-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -ms-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      transform: translate3d(0, 0, 0) rotateZ(-180deg);
    }
  }
  
  
  @-o-keyframes loader1 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -o-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -o-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -ms-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      transform: translate3d(0, 0, 0) rotateZ(-180deg);
    }
  }
  
  
  @keyframes loader1 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -o-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
      transform: translate3d(-8px, -8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -o-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -ms-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
      transform: translate3d(-14px, -14px, 0) rotateZ(-180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      transform: translate3d(0, 0, 0) rotateZ(-180deg);
    }
  }
  
  
  @-webkit-keyframes loader2 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -o-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      transform: translate3d(8px, -8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -o-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -ms-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      transform: translate3d(0, 0, 0) rotateZ(-180deg);
    }
  }
  
  
  @-moz-keyframes loader2 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -o-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      transform: translate3d(8px, -8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -o-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -ms-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      transform: translate3d(0, 0, 0) rotateZ(-180deg);
    }
  }
  
  
  @-o-keyframes loader2 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -o-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      transform: translate3d(8px, -8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -o-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -ms-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      transform: translate3d(0, 0, 0) rotateZ(-180deg);
    }
  }
  
  
  @keyframes loader2 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -o-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(8px, -8px, 0) rotateZ(0deg);
      transform: translate3d(8px, -8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -o-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -ms-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
      transform: translate3d(14px, -14px, 0) rotateZ(-180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(-180deg);
      transform: translate3d(0, 0, 0) rotateZ(-180deg);
    }
  }
  
  
  @-webkit-keyframes loader3 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -o-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      transform: translate3d(8px, 8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -o-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -ms-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -webkit-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      transform: translate3d(14px, 14px, 0) rotateZ(180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(180deg);
      transform: translate3d(0, 0, 0) rotateZ(180deg);
    }
  }
  
  
  @-moz-keyframes loader3 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -o-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      transform: translate3d(8px, 8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -o-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -ms-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -webkit-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      transform: translate3d(14px, 14px, 0) rotateZ(180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(180deg);
      transform: translate3d(0, 0, 0) rotateZ(180deg);
    }
  }
  
  
  @-o-keyframes loader3 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -o-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      transform: translate3d(8px, 8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -o-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -ms-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -webkit-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      transform: translate3d(14px, 14px, 0) rotateZ(180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(180deg);
      transform: translate3d(0, 0, 0) rotateZ(180deg);
    }
  }
  
  
  @keyframes loader3 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -o-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(8px, 8px, 0) rotateZ(0deg);
      transform: translate3d(8px, 8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -o-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -ms-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      -webkit-transform: translate3d(14px, 14px, 0) rotateZ(180deg);
      transform: translate3d(14px, 14px, 0) rotateZ(180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(180deg);
      transform: translate3d(0, 0, 0) rotateZ(180deg);
    }
  }
  
  
  @-webkit-keyframes loader4 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -o-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -o-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -ms-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -webkit-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(180deg);
      transform: translate3d(0, 0, 0) rotateZ(180deg);
    }
  }
  
  
  @-moz-keyframes loader4 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -o-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -o-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -ms-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -webkit-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(180deg);
      transform: translate3d(0, 0, 0) rotateZ(180deg);
    }
  }
  
  
  @-o-keyframes loader4 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -o-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -o-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -ms-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -webkit-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(180deg);
      transform: translate3d(0, 0, 0) rotateZ(180deg);
    }
  }
  
  
  @keyframes loader4 {
    0% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
      transform: translate3d(0, 0, 0) rotateZ(0deg);
    }
  
    30% {
      -moz-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -o-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -ms-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      -webkit-transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
      transform: translate3d(-8px, 8px, 0) rotateZ(0deg);
    }
  
    70% {
      -moz-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -o-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -ms-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      -webkit-transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
      transform: translate3d(-14px, 14px, 0) rotateZ(180deg);
    }
  
    100% {
      -moz-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -o-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -ms-transform: translate3d(0, 0, 0) rotateZ(180deg);
      -webkit-transform: translate3d(0, 0, 0) rotateZ(180deg);
      transform: translate3d(0, 0, 0) rotateZ(180deg);
    }
  }
  