/* ---------------------------------------------- order spec v2 ----------------------------------------------------*/

.checkout .product-spec.product-spec-with-header {
  padding: 0; }
  .checkout .product-spec.product-spec-with-header .header {
    display: block;
    background-color: #0e76bc;
    padding: 10px;
    color: #ffffff; }
  .checkout .product-spec.product-spec-with-header .product-img-spec-outter, .checkout .product-spec.product-spec-with-header .text-outter {
    float: none;
    display: inline-block;
    vertical-align: middle; }
  .checkout .product-spec.product-spec-with-header .product-img-spec-outter {
    padding: 24px 2px; }
    @media print, screen and (min-width: 43.75em) {
      .checkout .product-spec.product-spec-with-header .product-img-spec-outter {
        width: 45%; } }
    @media screen and (min-width: 75em) {
      .checkout .product-spec.product-spec-with-header .product-img-spec-outter {
        width: 35%; } }
  .checkout .product-spec.product-spec-with-header .text-outter {
    text-align: left;
    padding: 15px; }
    @media print, screen and (min-width: 43.75em) {
      .checkout .product-spec.product-spec-with-header .text-outter {
        width: 50%; } }
    @media screen and (min-width: 75em) {
      .checkout .product-spec.product-spec-with-header .text-outter {
        width: 63%; } }
    .checkout .product-spec.product-spec-with-header .text-outter .in-line {
      background-color: #ebebeb;
      border-radius: 20px;
      padding: 5px 15px; }
      .checkout .product-spec.product-spec-with-header .text-outter .in-line i {
        vertical-align: middle; }
      @media (max-width: 360px) {
        .checkout .product-spec.product-spec-with-header .text-outter .in-line {
          font-size: 11px; } }
      @media print, screen and (min-width: 43.75em) {
        .checkout .product-spec.product-spec-with-header .text-outter .in-line {
          font-size: 15px; } }
          
.checkout button.green i {
    display: none;
}

.checkout .bestseller .arrow {
  left: -13px;
  top: -25px;
}
 @media screen and (min-width: 75em) {
.checkout .text-cctype-paypal.smaller {
    margin-left: 51px;
} }


.payment-block .btn-cc .active {
    text-align:center;
    padding-top:15px;
}