
.pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    &::before {
        display: table;
        content: " ";
    }
    &::after {
        display: table;
        content: " ";
        clear: both;
    }
    li {
        margin-right: .0625rem;
        border-radius: 0;
        font-size: .875rem;
        display: none;
        &:last-child,
        &:first-child {
            display: inline-block;
        }
    }
    a,
    button {
        display: block;
        padding: .1875rem .625rem;
        border-radius: 0;
        color: #0a0a0a;
    }
    a:hover,
    button:hover {
        background: #e6e6e6;
    }
    .current {
        padding: .1875rem .625rem;
        background: #1779ba;
        color: #fefefe;
        cursor: default;
    }
    .disabled {
        padding: .1875rem .625rem;
        color: #cacaca;
        cursor: not-allowed;
        &:hover {
            background: transparent;
        }
    }
    .ellipsis::after {
        padding: .1875rem .625rem;
        content: '\2026';
        color: #0a0a0a;
    }
}

@media print,
screen and (min-width: 43.75em) {
    .pagination li {
        display: inline-block;
    }
}

.pagination-previous {
    a::before,
    &.disabled::before {
        display: inline-block;
        margin-right: 0.5rem;
        content: "«";
    }
}

.pagination-next {
    a::after,
    &.disabled::after {
        display: inline-block;
        margin-left: 0.5rem;
        content: "»";
    }
}
