
@-webkit-keyframes rotateSlideOut {
    0% {}
  
    25% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px);
      -o-transform: translateZ(-500px);
      -ms-transform: translateZ(-500px);
      -webkit-transform: translateZ(-500px);
      transform: translateZ(-500px);
    }
  
    75%,
      100% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px) translateX(-200%);
      -o-transform: translateZ(-500px) translateX(-200%);
      -ms-transform: translateZ(-500px) translateX(-200%);
      -webkit-transform: translateZ(-500px) translateX(-200%);
      transform: translateZ(-500px) translateX(-200%);
    }
  }
  
  
  @-moz-keyframes rotateSlideOut {
    0% {}
  
    25% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px);
      -o-transform: translateZ(-500px);
      -ms-transform: translateZ(-500px);
      -webkit-transform: translateZ(-500px);
      transform: translateZ(-500px);
    }
  
    75%,
      100% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px) translateX(-200%);
      -o-transform: translateZ(-500px) translateX(-200%);
      -ms-transform: translateZ(-500px) translateX(-200%);
      -webkit-transform: translateZ(-500px) translateX(-200%);
      transform: translateZ(-500px) translateX(-200%);
    }
  }
  
  
  @-o-keyframes rotateSlideOut {
    0% {}
  
    25% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px);
      -o-transform: translateZ(-500px);
      -ms-transform: translateZ(-500px);
      -webkit-transform: translateZ(-500px);
      transform: translateZ(-500px);
    }
  
    75%,
      100% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px) translateX(-200%);
      -o-transform: translateZ(-500px) translateX(-200%);
      -ms-transform: translateZ(-500px) translateX(-200%);
      -webkit-transform: translateZ(-500px) translateX(-200%);
      transform: translateZ(-500px) translateX(-200%);
    }
  }
  
  
  @keyframes rotateSlideOut {
    0% {}
  
    25% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px);
      -o-transform: translateZ(-500px);
      -ms-transform: translateZ(-500px);
      -webkit-transform: translateZ(-500px);
      transform: translateZ(-500px);
    }
  
    75%,
      100% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px) translateX(-200%);
      -o-transform: translateZ(-500px) translateX(-200%);
      -ms-transform: translateZ(-500px) translateX(-200%);
      -webkit-transform: translateZ(-500px) translateX(-200%);
      transform: translateZ(-500px) translateX(-200%);
    }
  }
  
  
  @-webkit-keyframes rotateSlideIn {
    0%,
      25% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px) translateX(200%);
      -o-transform: translateZ(-500px) translateX(200%);
      -ms-transform: translateZ(-500px) translateX(200%);
      -webkit-transform: translateZ(-500px) translateX(200%);
      transform: translateZ(-500px) translateX(200%);
    }
  
    75% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px);
      -o-transform: translateZ(-500px);
      -ms-transform: translateZ(-500px);
      -webkit-transform: translateZ(-500px);
      transform: translateZ(-500px);
    }
  
    100% {
      opacity: 1;
      -moz-transform: translateZ(0) translateX(0);
      -o-transform: translateZ(0) translateX(0);
      -ms-transform: translateZ(0) translateX(0);
      -webkit-transform: translateZ(0) translateX(0);
      transform: translateZ(0) translateX(0);
    }
  }
  
  
  @-moz-keyframes rotateSlideIn {
    0%,
      25% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px) translateX(200%);
      -o-transform: translateZ(-500px) translateX(200%);
      -ms-transform: translateZ(-500px) translateX(200%);
      -webkit-transform: translateZ(-500px) translateX(200%);
      transform: translateZ(-500px) translateX(200%);
    }
  
    75% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px);
      -o-transform: translateZ(-500px);
      -ms-transform: translateZ(-500px);
      -webkit-transform: translateZ(-500px);
      transform: translateZ(-500px);
    }
  
    100% {
      opacity: 1;
      -moz-transform: translateZ(0) translateX(0);
      -o-transform: translateZ(0) translateX(0);
      -ms-transform: translateZ(0) translateX(0);
      -webkit-transform: translateZ(0) translateX(0);
      transform: translateZ(0) translateX(0);
    }
  }
  
  
  @-o-keyframes rotateSlideIn {
    0%,
      25% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px) translateX(200%);
      -o-transform: translateZ(-500px) translateX(200%);
      -ms-transform: translateZ(-500px) translateX(200%);
      -webkit-transform: translateZ(-500px) translateX(200%);
      transform: translateZ(-500px) translateX(200%);
    }
  
    75% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px);
      -o-transform: translateZ(-500px);
      -ms-transform: translateZ(-500px);
      -webkit-transform: translateZ(-500px);
      transform: translateZ(-500px);
    }
  
    100% {
      opacity: 1;
      -moz-transform: translateZ(0) translateX(0);
      -o-transform: translateZ(0) translateX(0);
      -ms-transform: translateZ(0) translateX(0);
      -webkit-transform: translateZ(0) translateX(0);
      transform: translateZ(0) translateX(0);
    }
  }
  
  
  @keyframes rotateSlideIn {
    0%,
      25% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px) translateX(200%);
      -o-transform: translateZ(-500px) translateX(200%);
      -ms-transform: translateZ(-500px) translateX(200%);
      -webkit-transform: translateZ(-500px) translateX(200%);
      transform: translateZ(-500px) translateX(200%);
    }
  
    75% {
      opacity: 0.5;
      -moz-transform: translateZ(-500px);
      -o-transform: translateZ(-500px);
      -ms-transform: translateZ(-500px);
      -webkit-transform: translateZ(-500px);
      transform: translateZ(-500px);
    }
  
    100% {
      opacity: 1;
      -moz-transform: translateZ(0) translateX(0);
      -o-transform: translateZ(0) translateX(0);
      -ms-transform: translateZ(0) translateX(0);
      -webkit-transform: translateZ(0) translateX(0);
      transform: translateZ(0) translateX(0);
    }
  }
  
  
  .pt-page-rotateSlideOut {
    -webkit-animation: rotateSlideOut 1s both ease;
    animation: rotateSlideOut 1s both ease;
  }
  
  .pt-page-rotateSlideIn {
    -webkit-animation: rotateSlideIn 1s both ease;
    animation: rotateSlideIn 1s both ease;
  }
  