
.row-0 {
    padding: 25px 0;
    .text-row {
      padding-bottom: 20px;
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .row-0 {
      padding: 25px 0 40px;
    }
  }
  
  @media screen and (min-width: 75em) {
    .row-0 {
      padding: 40px 0 45px;
    }
  }
  