
.row-1 {
    padding: 40px 0 60px;
  }
  
  @media screen and (min-width: 43.75em) {
    .row-1 {
      padding: 45px 0 70px;
    }
  }
  
  @media screen and (min-width: 75em) {
    .row-1 {
      padding: 40px 0 60px;
    }
  }