

.row-8 {
    padding-bottom: 30px;
    .product-img {
      margin-top: -20px;
      padding-bottom: 25px;
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .row-8 {
      padding-bottom: 50px;
    }
  }
  
  @media screen and (min-width: 75em) {
    .row-8 {
      padding-bottom: 35px;
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .row-8 .product-img {
      margin-top: -15px;
      padding-bottom: 40px;
    }
  }
  