.row-2 {
    padding-bottom: 50px;
    h2 {
      margin: 30px 0;
    }
    .product-img {
      margin-top: -25px;
    }
    .texts {
      padding-top: 10px;
      padding-bottom: 10px;
      .v-top {
        vertical-align: top;
        padding-left: 2px;
        padding-right: 3px;
      }
      .table-cell {
        text-align: left;
      }
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .row-2 {
      padding-bottom: 60px;
    }
  }
  
  @media screen and (min-width: 75em) {
    .row-2 {
      padding-bottom: 75px;
    }
  }