
.row-4 {
  .img-outter {
    text-align: center;
  }
  .img-side {
    height: 300px;
    background: url("../images/content/row-4-small.png");
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
    }
  }
  .blue-arrow {
    padding: 30px 0;
  }
}

@media screen and (min-width: 43.75em) {
  .row-4 .img-side {
    position: relative;
    height: 600px;
  }
}

@media screen and (min-width: 43.75em) {
  .row-4 .img-side:before {
    position: absolute;
    right: 0;
    height: 100%;
    width: 140%;
    background: url("../images/content/row-4.png");
    background-size: cover;
  }
}

@media screen and (min-width: 43.75em) {
  .row-4 .blue-arrow {
    padding: 40px 0;
  }
}

@media screen and (min-width: 75em) {
  .row-4 .blue-arrow {
    padding: 60px 0 50px;
  }
}