
.row-7 {
    padding: 45px 0 60px;
  }
  
  @media screen and (min-width: 43.75em) {
    .row-7 {
      padding: 50px 0 60px;
    }
  }
  
  @media screen and (min-width: 75em) {
    .row-7 {
      padding: 70px 0 91px;
    }
  }