
.row-5 {
    padding: 24px 0 30px;
    .box {
      text-align: left;
      .img-outter {
        text-align: center;
        padding: 15px 0 20px;
      }
    }
  }
  
  @media screen and (min-width: 43.75em) {
    .row-5 {
      padding: 45px 0 40px;
    }
  }
  
  @media screen and (min-width: 75em) {
    .row-5 {
      padding: 45px 0 50px;
    }
  }