

.row-6 {
    padding: 40px 0 60px;
  }
  
  @media screen and (min-width: 43.75em) {
    .row-6 {
      padding: 60px 0 50px;
    }
  }
  
  @media screen and (min-width: 75em) {
    .row-6 {
      padding: 55px 0 75px;
    }
  }
  