
.top-banner {
    background: #fff;
    padding: 1.25rem;
    .columns {
      padding-left: 0;
      padding-right: 0;
    }
    p.about-container {
      margin-top: .625rem;
      margin-bottom: 0;
      color: gray;
      font-size: 0.9375rem;
      a {
        color: gray;
      }
      canvas {
        vertical-align: text-bottom;
        margin-left: 2px;
      }
    }
  }
  

  

@media screen and (min-width: 75em) {
  .top-banner p.about-container {
    margin-top: 0;
  }
}

@media screen and (min-width: 75em) {
  .top-banner p.about-container a.button-look {
    color: #000000;
    background-color: #ebebeb;
    padding: .3125rem .4375rem;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 230px;
  }
}
