
.upsell {
  background: #f5f5f5;
  .all {
    background: #ffffff;
    margin-top: 20px;
    padding-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  .process-bar {
    .content {
      margin: 1.875rem 0;
    }
    .box-steps {
      border: 1px solid #e3e3e3;
      background-color: #f3f9ee;
      margin-bottom: 1.25rem;
      margin: auto;
      .step {
        color: #c4deab;
        padding-top: 10px;
        padding-bottom: 10px;
        &.active {
          background-color: #c4deab;
          color: #007c00;
          border-left: 1px solid #d7e9c7;
          border-right: 1px solid #d7e9c7;
        }
        .table {
          width: 100%;
          height: 100%;
        }
      }
      .no-wrap {
        white-space: nowrap;
      }
    }
  }
  .border {
    border: 1px solid #d7d7d7;
  }
  .top-content {
    padding: 30px 0 20px;
  }
  .text-outter .logo {
    padding: 25px 0;
  }
  .list {
    padding-bottom: 30px;
    .table {
      padding: 8px 0;
      img {
        padding-right: 12px;
      }
    }
  }
  .demo-img-outter {
    height: 100%;
    width: 100%;
    background: url("../images/content/upsell-sob/product-with-bg-small.jpg");
    min-height: 300px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bottom-content {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .lines {
    border-top: 1px dotted #dcdcdc;
    border-bottom: 1px dotted #dcdcdc;
    padding: 15px 0;
  }
  p.large {
    font-size: 19px;
  }
  .upsell-button {
    margin-bottom: 30px;
    line-height: 1.3;
    padding: 10px 15px;
    i {
      padding-right: 5px;
    }
  }
  .bottom-floating-bar-bg {
    height: 80px;
    .upsell-button {
      padding: 10px 5px;
      line-height: 1.1;
    }
  }
  .no-thankyou a.no-button {
    color: #0000ee;
    text-decoration: underline;
  }
}

@media screen and (min-width: 43.75em) {
  .upsell .process-bar .box-steps .step {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 25.875em) {
  .upsell .process-bar .box-steps .step {
    font-size: .8125rem;
    padding-left: .3125rem;
    padding-right: 0.3125rem;
  }
}

@media screen and (max-width: 495px) {
  .upsell .process-bar .box-steps .step {
    font-size: 0.5625rem;
    .step-text {
      font-size: 140%;
    }
  }
}

@media screen and (max-width: 375px) {
  .upsell .process-bar .box-steps .step {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 43.75em) {
  .upsell .demo-img-outter {
    background: url("../images/content/upsell-sob/product-with-bg.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: initial;
  }
}

@media screen and (min-width: 43.75em) {
  .upsell p.large {
    font-size: 22px;
  }
}

@media screen and (min-width: 75em) {
  .upsell p.large {
    font-size: 24px;
  }
}

@media screen and (min-width: 43.75em) {
  .upsell .upsell-button {
    min-width: 370px;
  }
}


.paypal-upsell-block {
  display: none;
  background-color: #fdffda;
  border: 1px dotted gray;
  padding: 16px;
  .copy {
    font-weight: bold;
  }
  .hr-line {
    height: 5px;
    width: 50%;
    margin: 10px auto 12px;
    border-bottom: 1px dotted gray;
  }
}

.upsell.paypal-on {
  .bottom-floating-bar-bg {
    height: 140px;
    padding: 0;
    .hr-line {
      margin: 6px auto 6px;
    }
    .paypal-upsell-block {
      padding-bottom: 1px;
    }
    .columns.order-button {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .paypal-upsell-block {
    display: block;
    margin-bottom: 30px;
  }
}


.mini-upsell {
  margin: 3.125rem 0;
  color: #111;
  text-align: center;
  background: #fbfbfb;
  .inner-wrapper {
    border: 7px solid black;
    background: #fff;
    padding: 1.25rem 0.625rem;
    h4.heading {
      font-size: 24px;
      strong {
        margin-top: 0;
        display: inline-block;
      }
    }
  }
  .heading {
    color: #111;
    font-weight: bold;
  }
  .underline {
    text-decoration: line-through;
  }
  .price {
    display: inline-block;
    margin-top: 1rem;
  }
  .value-container {
    background-color: #f04124;
    background-clip: content-box;
    border: 1px solid #f04124;
    padding: 0.125rem;
    .inner-container {
      padding: 0.625rem;
    }
  }
  .ribbon {
    color: #fff;
    display: inline-block;
    margin-bottom: 1.25rem;
    &:after, &:before {
      margin-top: 8px;
      content: "";
      float: left;
      border: 20px solid red;
    }
    &:after {
      border-right-color: transparent;
    }
    &:before {
      border-left-color: transparent;
    }
    > span {
      float: left;
      overflow: hidden;
      background: red;
      display: inline-block;
      line-height: 40px;
      padding: 0;
      margin-top: 8px;
      position: relative;
      font-weight: bold;
    }
  }
  .limited {
    font-size: 1rem;
    font-weight: bold;
  }
  .bottle-container {
    margin: 1.25rem 0.625rem;
    img {
      max-width: 65%;
    }
  }
  .custom-button {
    min-width: 85%;
    padding: 10px;
    .text {
      font-size: 1.5rem;
    }
  }
  .no-button {
    font-size: 14px;
    margin: 1.5625rem 0 .625rem;
    text-decoration: underline;
    display: block;
    color: #0000ee;
  }
  .main-text {
    text-align: center;
    display: inline;
  }
  .sub-text {
    font-size: 12px;
    padding-bottom: 10px;
    text-align: center;
    .price {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 25.875em) {
  .mini-upsell {
    margin: 0.625rem 0 3.125rem 0;
  }
}

@media screen and (min-width: 75em) {
  .mini-upsell .inner-wrapper h2.heading {
    font-size: 1.875rem;
  }
}

@media screen and (min-width: 43.75em) {
  .mini-upsell .bottle-container {
    margin: 2.375rem 1.25rem;
  }
}

